@font-face {
  font-family: "Star-Jedi";
  src: url(../fonts/Star-Jedi.ttf);
}

h1, h2, h5, a, .navbar-brand, .nav-link, .home-title, .home-description {
  font-family: "Star-Jedi";
}

.stats {
  line-height: 1;
}
