@font-face {
  font-family: "Anakin-Mono";
  src: url(../fonts/Anakin-Mono.ttf);
}

@font-face {
  font-family: "Star-Jedi";
  src: url(../fonts/Star-Jedi.ttf);
}

* {
  font-family: "Star-Jedi";
}

.navbar-brand, .nav-link {
  font-family: "Star-Jedi";
}
