@font-face {
  font-family: "Anakin-Mono";
  src: url(../fonts/Anakin-Mono.ttf);
}

@font-face {
  font-family: "Star-Jedi";
  src: url(../fonts/Star-Jedi.ttf);
}

h1, h6, .navbar-brand, .nav-link, .home-title, .home-description, .btn, .search-bar {
  font-family: "Star-Jedi";
}
